header{
	background-image: url(image/header.jpg);
	background-repeat: no-repeat;
	width: 100%px;
	height: 522px;
}
h1{
	text-align: center;
	height: 80px;
	color: white;
	margin: 0 auto;
	padding-top: 195px;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 100px;

	

}