header{
	background-image: url("image/header.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 522px;

}
.container {
  position: absolute;
}
h1{
	text-align: center;
	height: 80px;
	color: white;
	margin: 0 auto;
	padding-top: 221px;
	font-family: 'Open sans', sans-serif;
	font-weight: bold;
	font-size: 100px;
}
.logot1{
	text-align: left;
	padding-left: 142px;
	position: absolute;
	margin-top: 15px;
	padding-right: 15px;
	/*logoimage topleft*/
}
.logot{
	position: absolute;
  margin-left: 211px;
  margin-top: 9px;
}
.aboutsearch{
	float: right;
	margin-right: 190px;
  font-family: 'open sans';

}
.aboutsearch a{
	color: #072E47;
	font-family: 'oswald',sans-serif;
	font-size: 22px;
  padding-right: 10px;
  text-decoration: none;
  padding-top: 22px;
}
.TIYtext{
  color: green;
  font-size: 15px;
  text-align: center;
  padding-top: 22px;
}
.elvis{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.boxleft{
    margin-top: 50px;
  float: left;
  margin-left: auto;
  width: 63%;
  margin-right: 45px;
}
.boxright{
  margin-top: 72px;
  margin-right: auto;
  float: left;
  width: 20%;
}
img.avatar1{
  : 50px;
}
h4{
  margin-left: 4px;
}
.boxright{
  margin-top: 72px;
  margin-right: auto;
  float: right;
}
.blogtop{
  font-size: 62px;
  font-family: 'oswald',sans-serif;
  font-weight: lighter;
}
.blogbot{
  font-size: 64px;
  font-family: 'oswald',sans-serif;
  font-weight: lighter;
  margin-top: -76px;
  margin-bottom: 9px;

}
.avatar1{
  width: 3.5%;
  margin-top: -17px;


}
.sidebar{
  color: #176CB0;
  width: 115%;
}
.memphis {
  font-size: 15;
  font-family: 'Open Sans' sans-serif;
  color: #ADBAC5;
  margin-top: 7px;

}
.presley {
  /*position: relative;*/
  clear: both;
}
.mostpop{
  font-size: 62px;
  font-family: 'oswald',sans-serif;
  font-weight: lighter;
  text-align: center;
}
footer{
  background-color: #0A3451;
  text-align: center;
}
.foott{
  color: #A1B1BC;
  margin-right: 100px;
}
.righty{
  color: #A1B1BC

}

